/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

code {
	color: #e01a76;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.custom-btn {
	cursor: pointer;
}

.card:hover {
	box-shadow: 5px 5px 10px -4px #000;
}
